<meta name="dataFromFragment_<%= id %>" content="<%= JSON.stringify(params) %>">
<meta name="rawFragment_<%= id %>" content="<%= JSON.stringify(data) %>">
<div id="<%= id %>" class="fragment"></div>

<script name="<%= id %>" src="<%= scripts %>/fragments/header.js"></script>