<div class="section hidden showByConnectionManager" id="packsPanel">
    <div class="floatSection packs_section btn_doubleBorder">
        <div class="options_exit_btn upper sour_gummy_extra">
            <h1 class="panel_title sour_gummy_bold">Seleziona Mazzo</h1>
            <h1 class="active_Btn button" id="exitPacksBtn">X</h1>
        </div>
        <div class="packs_content column sour_gummy_medium flex_gap_30">
            <%
            const sortedPacks = [...knownPacks].sort((a, b) => a === 'standard' ? -1 : b === 'standard' ? 1 : 0);
            sortedPacks.forEach((pack, index) => {
                const colorNum = (index % 4) + 1;
                const segnaStandard = pack === 'standard' ? 'standard' : null
            %>
            <div class="tile defaultPack normalPack shrinks_on_active_for_no_reason packColor_<%= colorNum %> <%= segnaStandard %>" pack="<%= pack %>">
                <img alt="<%= pack %>" onerror="
                    this.src = '/assets/packs/personalizzato_empty.jpg';
                    const helper = document.createElement('h4');
                    const text = this.getAttribute('alt');
                    helper.innerText = text[0].toUpperCase() + text.slice(1);
                    this.parentNode.appendChild(helper);
                " src="/assets/packs/<%= pack %>.jpg" >
            </div>
            <% }) %>

            <div id="customPack" class="tile defaultPack shrinks_on_active_for_no_reason packColor_4">
                <div class="custom_pack_wrapper">
                    <img id="customPackImg" src="/assets/packs/personalizzato.jpg" alt="Personalizzati">
                    <h4 id="customFileName" class="hidden_text sour_gummy_medium">Personalizzati</h4>
                </div>
                <input type="file" hidden id="inputFile" accept="application/json" multiple/>
            </div>
        </div>

        <div class="packs_footer_row packs_footer">
            <h6 class="packs_footer_link underlined_text"><a href="/creaMazzo" target="_blank" class="sour_gummy_medium shrinks_on_active_for_no_reason">Scopri come creare un mazzo personalizzato</a></h6>
            <button id="confirmPacks" class="button btn_mediumText btn_style_confirm sour_gummy_bold">Conferma</button>
        </div>
    </div>
</div>

<script src="<%= scripts %>/views/packsPanel.js"></script>