<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="dataFromBackEnd" content="<%= JSON.stringify(params) %>">
    <link rel="icon" href="/assets/icon.png">
    <title>Cucu Ridu</title>
    <link rel="manifest" href="/manifest.json">

    <link rel="preload" href="/assets/fonts/SourGummy-VariableFont_wdth,wght.ttf" as="font" type="font/ttf">
    <link rel="stylesheet" href="<%= styles %>/fonts.css">

    <link rel="stylesheet" href="<%= styles %>/global.css">
    <link rel="stylesheet" href="<%= styles %>/<%= page %>.css">

    <script src="/script/external/ejs.js"></script>
    <%- include("components/legacyManager") %>
    <script src="<%= scripts %>/config/colorConfig.js"></script>
</head>
<body>
    <%- include("components/loadScreen") %>

    <script src="<%= scripts %>/config/registerWorker.js"></script>
    <script src="<%= scripts %>/config/globalConfig.js"></script>
    <script src="<%= scripts %>/config/eventsConfig.js"></script>
    <script src="<%= scripts %>/config/midleChecks.js"></script>
    <script src="<%= scripts %>/config/manageBack.js"></script>

    <%- include(page, params) %>
    <%- include("components/audioManager", { bgm: params.bgm || "GameMusic-Candy_Bazaar" }) %>

    <script src="<%= scripts %>/config/clearDom.js"></script>
    <noscript><%- include("error", { error: 2096, message: "Javascript not supported" })%></noscript>
</body>
</html>